.calculator
  &__value-changes
    margin-bottom: 20px

.value-change
  &__wrapper
    display: flex
    width: 100%
    justify-content: space-between
  &__name
    margin: 0
    font-size: 18px
    line-height: 26px
  &__input
    margin: 12px 0 2px
    width: 100%
    &_text
      width: 140px
      padding: 8px 17px
      
.input
  &__wrapper
    padding-right: 60px
    display: flex
    flex-direction: column
    width: 100%
  &__desc
    display: flex
    justify-content: space-between
    color: #838383
    font-size: 12px
    font-weight: 500
