.calculator
  &__value-changes
    position: relative
    margin-bottom: 20px
  &__credit-amount
    font-size: 18px

.value-change
  &__wrapper
    display: flex
    width: 100%
    justify-content: space-between
  &__name
    margin: 0
    font-size: 18px
    line-height: 26px
  &__input
    margin: 12px 0 2px
    width: 100%
    &_text
      width: 140px
      padding: 8px 17px
      
.input
  &__wrapper
    padding-right: 60px
    display: flex
    flex-direction: column
    width: 100%
  &__desc
    display: flex
    justify-content: space-between
    color: $inputDesc
    font-size: 12px
    font-weight: 500
  &__unit
    position: absolute
    right: 16px
    top: 50%
    line-height: .93
    color: $inputDesc

.credit-amount
  &__currency
    font-family: PTSR

