.fontello
  &_calculator:before  
    content: '\e800'
    font-family: fontello
    font-style: normal 
  &_location:before  
    content: '\e805'
    font-family: fontello
    font-style: normal 
  &_phone:before  
    content: '\e802'
    font-family: fontello
    font-style: normal 
  &_right:before  
    content: '\e803'
    font-family: fontello
    font-style: normal
  &_left:before  
    content: '\e804' 
    font-family: fontello
    font-style: normal