$default-font: "roboto", sans-serif
$accent: #f8ed13
$button_main: #fc464a
$button_second: #ff7a0b
$border_main: #c0c0c0
$placeholder: #7f7f7f
$apartment_bg: #fff242
$builder_bg: #fef200
$inputDesc: #838383

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
